
@import url('https://fonts.googleapis.com/css?family=Gugi');

.mainpage{
    width: 98%;height: 100vh;margin:auto;font-family: 'Gugi',cursive;
}
.mainpage h1 {
    margin:0;padding:20px 0;text-align: center;
}
.avatarstyle img{
    width: 198%;height: 100px;
}